---
import type { Page } from '&/page.d'
import { readFileSync } from 'fs'

import OpenGraph from './head/og.astro'
import json5 from 'json5'

import '$/styles/global.scss'

export interface Props {
	translations: {
		[key: string]: any
		page: Page
	}
	lang?: string
	langs?: string[]
	url: URL,
	theme?: 'default' | 'astro' | 'loggy'
}

const changeLanguage = (url: URL, lang: string) => url.origin+`/${lang}${url.pathname.slice(3)}`;

const { translations, lang = 'en', langs, url, theme = 'default' } = Astro.props
const page = json5.parse(readFileSync(`./src/i18n/defaults/page/${lang}.json5`).toString())
---


<meta charset="UTF-8">
<meta name="color-scheme" content="dark light">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta http-equiv="Content-Security-Policy" content="script-src 'unsafe-inline' 'self';object-src 'none';base-uri 'none';img-src * data:;media-src *;">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

<link rel="alternate icon" type="image/x-icon" sizes="16x16" href="/favicon.ico">
<link rel="icon" type="image/svg+xml" href="/favicon.svg">

<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#311540">

<meta name="msapplication-TileColor" content="#401f4d">

<meta name="theme-color" content={theme === 'default' ? "#4f2b5a" : theme === 'astro' ? "#a42323" : theme === 'loggy' ? "#008ba3" : "#4f2b5a"}>

<link rel="manifest" href="/manifest.webmanifest">
<meta name="color-scheme" content="dark light">

<link rel="alternate" href={url.origin} hreflang="x-default" />
{(langs || []).map((lg) => (
	<link rel="alternate" href={changeLanguage(url, lg)} hreflang={lg} />
))}

<link rel="alternate" type="application/rss+xml" href={`${url.origin}/${lang}/feed.xml`} title={page.rssTitle} />

<meta property="og:locale" content={lang} />

<title>{translations?.title || page.title} - AstroLoggy</title>

<meta name="copyright"		content={page.copyright} />
<meta name="author"			content={page.author} />
<meta name="keywords"		content={page.keywords} />
<meta name="description"	content={translations?.description || page.description} />

<OpenGraph page={page} translations={translations} />