---
import Layout from '$/layouts/PageLayout.astro'
import { createI18n } from '$/scripts/i18n'

export const getStaticPaths = createI18n('about/index')
const { translations, langs } = Astro.props
const { lang } = Astro.params as { [key: string]: string }

---

<Layout {translations} {langs} {lang}>
	<p>This page is still under development, please wait</p>
	<p><a href={`/${lang}/about/privacy-policy`}>Privacy Policy</a></p>
	<p><a href={`/${lang}/about/politique-de-confidentialité`}>Politique de confidentialité</a></p>
</Layout>